# ==========================================
# 1. Секреты и переменные окружения (.env)
# ==========================================
.env
.env.local
.env.*.local
.env.dev
.env.main
.env.docker
.env.prod
.env.production

# ==========================================
# 2. Python & Виртуальное окружение
# ==========================================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Байткод и кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ==========================================
# 3. Django, Базы данных и Медиа
# ==========================================
# Локальные базы данных SQLite
*.sqlite3
*.db
identifier.sqlite
db.sqlite3

# Загрузки пользователей (Pitch Decks / Media)
media/
backend/media/
backend/private_media/
private_media/
dump_*.sql

# Собранная статика Django
staticfiles/
local_settings.py

# ==========================================
# 4. Celery (Фоновые задачи и планировщик)
# ==========================================
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid
*.pid

# ==========================================
# 5. Тестирование и логи
# ==========================================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.log
TestResults.xml

# ==========================================
# 6. Фронтенд (Node.js & React / Vite)
# ==========================================
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Сборка фронтенда
dist/
frontend/dist/
frontend/build/
.output/
*.tsbuildinfo


# ==========================================
# 7. IDE, Редакторы и ОС
# ==========================================
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.iml