Django==5.2
asgiref==3.12.1
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
djangorestframework==3.18.0
djangorestframework-simplejwt
django-filter==26.1
django-cors-headers
dj-database-url==3.1.2
psycopg-binary==3.3.4
python-dotenv==1.2.3
django-stubs==6.1.0
django-stubs-ext==6.1.0
djangorestframework-stubs==3.18.1
types-PyYAML==6.0.12.20260815
celery[redis]>=5.4
redis>=5.0
